.site-header {
    background: #fcfcfc;
    border-bottom: 0.063em solid #f3f3f3;
    padding: 0.5rem;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.125rem;
	}

	&__branding {
		display: flex;
		align-items: center;
	}

	&__sep {
		font-size: 1.125rem;
		margin-left: 0.75rem;
		margin-right: 0.75rem;
	}

	&__title {	
		font-size: 1.75rem;
		margin: 0 0 0 1rem;
		padding: 0;

		a {
			border-bottom: none;
			color: #757575;
			text-decoration: none;
		}
	}

	&__description {
		color: #959595;
		font-size: 15px;
		margin: 0;
		padding: 0;
	}
}
