.archive {

    .site-container {

        .site-content {
            margin: 0 auto;
            max-width: 640px;

            .content-area {

                .loop {
                    margin-top: 1.125rem;
                }
            }
        }
    }
}