.archive {
    .site-container {
        margin: 0 auto;
        max-width: 1240px;

        .content-area {

            .post {
                margin-top: 0;
            }
        }
    }
}

@media screen and ( max-width: 428px ) {
    .archive {
        .site-container {
            margin: 0 auto;
            max-width: 1366px;
    
            .content-area {
    
                .grid-col-3 {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

@media screen and ( min-width: 429px ) and ( max-width: 600px ) {
    .archive {
        .site-container {
            margin: 0 auto;
            max-width: 1366px;
    
            .content-area {
    
                .grid-col-3 {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

@media screen and ( min-width: 601px ) and ( max-width: 768px ) {
    .archive {
        .site-container {
            margin: 0 auto;
            max-width: 1366px;
    
            .content-area {
    
                .grid-col-3 {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}